#product_router_link a {
    font-weight: bolder;
    color: black!important;
}

#product_router_link a :hover {
    color: black;
}

#product_name {
    font-size: 25px;
}

.product-price {
    font-size: 20px;
}

.product_quantity {
    width: 52px;
}

.disabledPrevNext {
    color: #909090;
}

.product-prev-next {
    cursor: pointer;
}

.product-container {
    margin-bottom: 15px;
}

.product-old-price {
    text-decoration: line-through;
}