<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="d-flex justify-content-center align-items-center home_first-div">
                <div class="text-center">
                    <p id="home_first_div_title1">Fortisi Home Design<br />Second name for Stylish</p>
                    <p id="home_first_div_title2">Beauty that comes from trust</p>
                    <button class="g-font-size-12" id="home_first_div_button">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row g-m-t-15px">
        <div class="col-12">
            <div class="text-center g-font-size-12 home-text-part">
                <p class="g-font-size-15px">POWER OF THE IDEA AND ART OF CRAFTSMANSHIP</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>
    </div>
    <div class="row g-font-size-12 text-center g-m-t-30px">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div id="home_product_img1" class="home-product-img">
                        <p class="home-product-img-watermak">New</p>
                    </div>
                    <p class="home-product-img-title"><strong>Night table</strong><br />9500 din</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-product-img" id="home_product_img2"></div>
                    <p class="home-product-img-title"><strong>Table</strong><br />4000 din</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-product-img" id="home_product_img3"></div>
                    <p class="home-product-img-title"><strong>Sofa</strong><br />40000 din</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-product-img" id="home_product_img4"></div>
                    <p class="home-product-img-title"><strong>Chair</strong><br />5000 din</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-product-img" id="home_product_img5">
                        <p class="home-product-img-watermak">Best seller</p>
                    </div>
                    <p class="home-product-img-title"><strong>Kitchen</strong><br />89000 din</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-product-img" id="home_product_img6"></div>
                    <p class="home-product-img-title"><strong>Bedroom</strong><br />35000 din</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button id="home_load_more_btn" (click)="openShop()">Load
                        more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-font-size-12 g-m-t-30px">
        <div class="col-12">
            <p class="g-font-size-16px">Fontisi home design</p>
            <div class="row">
                <div class="col-md-4">
                    <p>A: Laze Nancica 7, 21000 Novi Sad</p>
                    <p>T: 021/422-022</p>
                    <p>E: ofice@smartinit.net</p>

                    <p class="g-m-t-30px">MON-FRI: 7am - 10pm</p>
                    <p>SATURDAY: 9am - 10pm</p>
                    <p>SUNDAY: 8am - 11pm</p>

                    <p class="g-m-t-30px">FAQ /</p>
                    <p>Shipping & Returns /</p>
                    <p>Payment Methods /</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <form id="home_contact_form" class="g-font-size-12" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" id="home_name_field" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-sm" id="home_email_field" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" id="home_subject_field" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control form-control-sm" id="home_message_field" rows="3" placeholder="Message"></textarea>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" id="home_contact_form_btn">SEND</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 g-m-t-15px">
                            <form id="home_subscribe_form" class="g-font-size-12" autocomplete="off">
                                <div class="gorm-group">
                                    <div class="row">
                                        <div class="col-12">
                                            <p>Get our newsletters</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-sm" id="home_newsletters_email_field" placeholder="Enter your email here">
                                        </div>
                                        <div class="col-sm-6">
                                            <button id="home_subscribe_now_btn" type="button">Subscribe Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid g-m-t-30px">
    <div class="row">
        <div class="col-12 p-0">
            <iframe src="https://maps.google.com/maps?q=bulevar%20kralja%20petra%20novi%20sad&t=&z=13&ie=UTF8&iwloc=&output=embed" class="gallery__img gallery__img--3 slide-in from-down" height="300" frameborder="0" id="home_map" allowfullscreen="" aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
    </div>
</div>